.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  mat-form-field {
    width: 100%;
    display: block;

    ::ng-deep .mat-mdc-text-field-wrapper {
      height: auto;
      min-height: 56px;
      padding: 0 12px;
      box-sizing: border-box;
    }

    input,
    textarea {
      line-height: 1.4;
    }
  }

  .full-row {
    grid-column: span 2;
  }
}

.active-row {
  grid-column: span 2;
  display: flex;
  align-items: center;
  margin-top: 12px;
}
