/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

@include mat.core();

$primary: mat.define-palette(mat.$orange-palette, 600);
$accent: mat.define-palette(mat.$blue-palette, 600);
$warn: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

@include mat.all-component-themes($light-theme);
@media (prefers-color-scheme: dark) {
  @include mat.all-component-colors($dark-theme);
  body {
    background-color: #121212;
    color: #e0e0e0;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
